/* header {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  color: #f65282;
  padding: 0;
  margin: 0;
  text-align: left;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f9f7fe;
  margin-top: 20px;
}

h1 {
  font-size: 38px;
  color: #272142;
  font-weight: 700;
  line-height: 48px;
  padding: 0;
  margin: 20px 0 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
}

li strong {
  font-weight: 400;
}

#icon {
  box-sizing: border-box;
  margin: 30px 5px;
}

img {
  width: 50px;
}

hr {
  color: rgb(65 50 100 / 20%);
}

footer {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  color: rgba(39, 33, 66, 0.4);
  box-sizing: border-box;
}

footer a {
  color: #885df1;
}

form {
  display: flex;
  gap: 0;
  padding: 0;
  margin: 20px 0 30px;
  height: 50px;
}

form input {
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  margin-right: 20px;
}

.form-control {
  padding: 0 20px;
  box-sizing: border-box;
  color: rgba(39, 33, 66, 0.4);
  background-color: #f9f7fe;
  border-color: #f9f7fe;
}

.search-button {
  background-color: #885df1;
  padding: 0 40px;
  align-items: center;
  border-color: #885df1;
}

.btn.btn-primary.search-button:hover {
  background-color: #5928ad;
  border-color: #5928ad;
}

.track-location {
  background-color: #885df1;
  border-color: #885df1;
  color: #fff;
  height: 100%;
  width: 70px;
}

.btn.btn-primary.track-location:hover {
  color: #fff;
  background-color: #653ad3;

  border-color: #5928ad;
}

.container {
  max-width: 800px;
}

.weather {
  display: block;
  padding: 40px;
  margin: 30px auto;
  border-radius: 16px;
  box-sizing: border-box;
  border: 0 30px 50px rgb(65 50 100 / 8%);
  background: #fff;
}

.weatherTemperature {
  display: block;
}

.weatherTemperature canvas {
  box-sizing: border-box;
}

.weatherTemperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}

.unit {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #272142;
  position: relative;
  top: -42px;
  /* co the su dung doan duoi day de thay the
  display: inline-block;
  vertical-align: top; */
}

.condition {
  color: #f65282;
}

.weekdayTemperature {
  display: block;
  color: #f65282;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin-top: 10px;
}

.min {
  opacity: 0.6;
  margin-left: 3px;
  padding: 0;
}

#temperature {
  font-size: 80px;
  font-weight: 700;
  color: #272142;
}

.weatherForecast {
  margin: 30px auto 40px;
  padding: 0 auto 50px;
}

.weatherForecastPreview {
  display: block;
  transition: all 200ms ease-in-out;
  background: #fff;
  padding: 10px;
  text-align: center;
}

.weatherForecastPreview:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #b5ffff, 1px -1px 5px #9b3f8f;
  border-radius: 4px;
}

.unit .active {
  color: rgba(39, 33, 66, 0.6);
  cursor: default;
  text-decoration: none;
}

.unit a {
  color: #885df1;
}
