body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-image: url(" ../src/background.jpeg");
  size-adjust: 100%;
  opacity: .9;
}

h1 {
  font-size: 38px;
  color: #272142;
  font-weight: 700;
  line-height: 48px;
  padding: 0;
  margin: 20px 0 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.5);
}

li strong {
  font-weight: 400;
}

img {
  width: 50px;
}

hr {
  color: rgba(65, 50, 100, 0.25);
}

footer {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  color: rgba(39, 33, 66, 0.5);
  box-sizing: border-box;
}

footer a {
  color: #21b069;
}

footer a:hover {
  color: #076646;
}

form {
  display: flex;
  gap: 0;
  padding: 0;
  margin: 20px 0 30px;
  height: 50px;
}

form input {
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  margin-right: 20px;
}

.form-control {
  padding: 0 20px;
  box-sizing: border-box;
  color: rgba(39, 33, 66, 0.7);
  background-color: #e9fff9;
  border-color: #e9fff9;
}

.search-button {
  background-color: #116439;
  padding: 0 40px;
  align-items: center;
  border: 0;
}

.btn.btn-primary.search-button:hover {
  background-color: #26c272;
}

.track-location {
  background-color: #116439;
  border: 0;
  color: #fff;
  height: 100%;
  width: 70px;
}

.btn.btn-primary.track-location:hover {
  color: #fff;
  background-color: #26c272;
}

.container {
  max-width: 800px;
  min-width: 600px;
}

.weather {
  display: block;
  padding: 40px;
  margin: 30px auto;
  border-radius: 16px;
  box-sizing: border-box;
  border: 0 30px 50px rgb(65 50 100 / 8%);
  background: #fff;
}

.weatherTemperature {
  display: block;
}

.weatherTemperature canvas {
  box-sizing: border-box;
}

.weatherTemperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}

.unit {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #272142;
  position: relative;
  top: -42px;
  /* co the su dung doan duoi day de thay the
  display: inline-block;
  vertical-align: top; */
}

.condition {
  color: #f65282;
}

#temperature {
  font-size: 80px;
  font-weight: 700;
  color: #272142;
}

.unit .active {
  color: rgba(39, 33, 66, 0.5);
  cursor: default;
  text-decoration: none;
}

.unit a {
  color: #21b069;
}

.unit a:hover {
  color: #076646;
}

#icon {
  box-sizing: border-box;
  margin: 30px 5px;
}

.weather-forecast {
  margin: 30px auto 40px;
  padding: 0 auto 50px;
}

.weather-forecast-preview {
  display: block;
  transition: all 200ms ease-in-out;
  background: #fff;
  padding: 10px;
  text-align: center;
}

.weather-forecast-preview:hover {
  cursor: pointer;
  background-color: #f7fffd;
  box-shadow:  2px 2px 7px rgba(10, 135, 100, 0.3), inset -1px -1px 5px rgba(222, 222, 222, 0.5);
  border-radius: 4px;
}

.weather-forecast-date {
  font-size: 16px;
  line-height: 1;
  margin: 4px 0 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  display: block;
  color: #f65282;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin-top: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
  margin-left: 3px;
  padding: 0;
}